{% extends 'base.html'%}

{% block content %}




<section>


    <div class="member_list">
        <h2>Members Info</h2>
        <div class="member_icons_show">

       
        <form action="/members/{{member.id}}/edit">
        <button><i class="fas fa-edit fa-lg"></i></button>
        </form>
        <form action="/members/{{member.id}}/delete" method="POST">
        <button><i class="fas fa-trash-alt fa-lg"></i></button>
        </form>
        </div>
        </div>
    <article>
    

    <table>
        <tr>
          <th>Name:</th>
          <td></td>
          <td>{{member.name}}</td>
        </tr>
        <tr>
          <th>Age:</th>
          <td></td>
          <td>{{member.age}}</td>
        </tr>
        <tr>
          <th>Membership:</th>
          <td></td>
          <td>{{member.memb_type}}</td>
          <tr>
            <th>Membership status:</th>
            <td></td>
            <td>{% if member.memb_status %}Active{% else %}Inactive{% endif %}</td>
          </tr>
        </tr>
      </table>
      <table>
        <tr>
        <th>This member is currently booked on the following classes:</th>
      </tr>
      
        {% for workout in active_classes %}
        <tr>
        <td>{{workout.name}}</td>
      </tr>
    {% endfor %}
      </table>
    <a href="../activities/{{member.id}}">Add this member to a class</a>
    </article>
</section>


  
  {% endblock %}