{% extends 'base.html'%}

{% block content %}




<section>


    <div class="member_list">
        <h2>Members Info</h2>
        <div class="member_icons_show">

       
        <form action="/members/{{member.id}}/edit">
        <button><i class="fas fa-edit fa-lg"></i></button>
        </form>
        <form action="/members/{{member.id}}/delete" method="POST">
        <button><i class="fas fa-trash-alt fa-lg"></i></button>
        </form>
        </div>
        </div>
    <article>
    

    <table>
        <tr>
          <th>Name:</th>
          <td></td>
          <td>{{member.name}}</td>
        </tr>
        <tr>
          <th>Age:</th>
          <td></td>
          <td>{{member.age}}</td>
        </tr>
        <tr>
          <th>Membership:</th>
          <td></td>
          <td>{{member.memb_type}}</td>
        </tr>
      </table>
      {% if member.memb_status %}
    <p>Their membership status is active</p>
    {% else %}
    <p>This members membership is currently inactive, please go to Edit Member and select a membership type to reactivate it</p>
    {% endif %}
    <p>ADD VIEW CLASSES THEY ARE PART OF</p>
    </article>
</section>


  
  {% endblock %}