{% extends 'base.html'%}

{% block content %}

<section>
    <h2>
        List of classes
    </h2>
    {% for workout in workouts %}
    
        
        <div class="member_list">
            <h3>   {{workout.name}}</h3>
            <div class="member_icons">
    
            <form action="/workouts/{{workout.id}}"">
            <button><i class="fas fa-info-circle fa-lg"></i></button>
            </form>
            <form action="/workouts/{{workout.id}}/edit">
            <button><i class="fas fa-edit fa-lg"></i></button>
            </form>
            <form action="/workouts/{{workout.id}}/delete" method="POST">
            <button><i class="fas fa-trash-alt fa-lg"></i></button>
            </form>
            </div>
            </div>

    {% endfor %}
    <form action="/workouts/new" method="get">
        <button id="button_submit_new" type="submit">Add new class</button></form>
    
</section>





{% endblock %}