{% extends 'base.html'%}

{% block content %}




<section>


    <div class="member_list">
        <h2>Class Info</h2>
        <div class="member_icons_show">

       
        <form action="/workouts/{{workout.id}}/edit">
        <button><i class="fas fa-edit fa-lg"></i></button>
        </form>
        <form action="/workouts/{{workout.id}}/delete" method="POST">
        <button><i class="fas fa-trash-alt fa-lg"></i></button>
        </form>
        </div>
        </div>
    <article>
    

    <table>
        <tr>
          <th>Name:</th>
          <td></td>
          <td>{{workout.name}}</td>
        </tr>
        <tr>
          <th>Capacity:</th>
          <td></td>
          <td>{{current_participants}}/{{workout.capacity}}</td>
        </tr>
        <tr>
          <th>Required membership:</th>
          <td></td>
          {% if workout.prem_only == True %}
            <td>Premium</td>
          {% else %}
          <td>Standard</td>
          {% endif %}

        </tr>
      </table>
      <p>ADD IF THIS CLASS is FULL</p>
    <p>ADD VIEW MEMBERS THAT ARE COMING</p>
    </article>
</section>


  
  {% endblock %}