{% extends 'base.html'%}

{% block content %}
<div class="error_box">
    <div id="cross_and_h3"><h3 class="error_text">Error</h3><form id="close_error" action="/members/{{member.id}}">
        <button><i class="fas fa-times fa-lg"></i></button>
        </form>
        </div>
    <p class="error_text"> {{member.name}} is already in the {{ workout_name }}  class</p>
    
    
</div>
<form action="/activities/{{ member.id }}" method="post" class="form">
    <h2>Add {{member.name}} to a class</h2>
    <p type="Class:"></p>
      <select name="workout_id" id="later">
        {% for workout in workout_dict %}
        {% if workout.fullness >=  workout.capacity %}
        <option disabled value="{{ workout.id }}">{{workout.name}} {{workout.fullness}}/{{workout.capacity}} FULL</option>
        {% else %}
        <option value="{{ workout.id }}">{{workout.name}} {{workout.fullness}}/{{workout.capacity}}</option>
        {% endif %}
        {% endfor %}
      </select>
      {% if member.memb_type == "Premium" %}
      <p>{{member.name}} is a Premium member, they can be added to all classes that have space in them.</p>
      {% elif member.memb_type == "Standard" %}
      <p>{{member.name}} is a Standard member, they can only be added to Standard classes that have spaces in them.</p>
      {% endif %}
  
      <br>
      <br>
      <br>
      <button id="button_submit" type="submit">Add Member to the class</button>
  </form>
{% endblock %}