<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fitness Gym App</title>
</head>
<body>
    
    

    <nav>
        <a href="#">Home</a>
        <a href="#">Members</a>
        <a href="#">Fitness Classes</a>
        <div class="animation start-home"></div>
    </nav>


    <form class="form">
        <h2>Add a new member</h2>
        <p type="Name:"><input placeholder="Insert new members name"></input></p>
        <p type="Age:"><input placeholder="Let us know how to contact you back.."></input></p>
        <p type="Fitness level:"><input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p type="Membership type:"><input placeholder="What would you like to tell us.."></input></p>
        <button>Send Message</button>
      </form>
    
</body>
</html>