{% extends 'base.html'%}

{% block content %}

<form action="/members/{{member.id}}" method="post" class="form">
    <h2>Edit member - {{member.name}}</h2>
    <p type="Name:"><input required type="text" name="name" value="{{member.name}}"></input></p>
    <p type="Age:"><input required name="age" value="{{member.age}}" type="number" min="1" step="1"></input></p>
    <p type="Membership type:"></p>
    <select name="memb_type">
        {% if memb_type == "Premium" and memb_status == True %}
        <option value="Premium" selected >Premium</option>
        <option value="Standard">Standard</option>
        <option value="Inactive">Inactive</option><br>
        {% elif memb_type == "Standard" and memb_status == True %}
        <option value="Premium">Premium</option>
        <option value="Standard" selected >Standard</option>
        <option value="Inactive">Inactive</option><br>
        {% elif memb_status == False %}
        <option value="Premium">Premium</option>
        <option value="Standard">Standard</option>
        <option value="Inactive" selected >Inactive</option><br>
        {% endif %}
      </select>
      <button id="button_submit" type="submit">Edit Member</button>
      {% if memb_status == False %}
      <p>This members membership is currently inactive, please select a membership type to reactivate it</p>
      {% endif %}
    </form>



{% endblock %}